USE [master]
GO
/****** Object:  Database [CheckSalud_DB]    Script Date: 14/04/2025 11:27:25 ******/
CREATE DATABASE [CheckSalud_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CheckSalud_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CheckSalud_DB.MDF' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 15%)
 LOG ON 
( NAME = N'CheckSalud_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CheckSalud_DB_log.LDF' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 15%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CheckSalud_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CheckSalud_DB]
GO
/****** Object:  Table [dbo].[Tb_Ubicacion]    Script Date: 14/04/2025 11:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Ubicacion](
	[Id_Ubigeo] [nchar](6) NOT NULL,
	[IdDepa] [nvarchar](255) NULL,
	[IdProv] [nvarchar](255) NULL,
	[IdDist] [nvarchar](255) NULL,
	[Departamento] [nvarchar](255) NULL,
	[Provincia] [nvarchar](255) NULL,
	[Distrito] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Ubigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Empresa]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Empresa](
	[codEmpresa] [nvarchar](5) NOT NULL,
	[Raz_soc_emp] [nvarchar](50) NOT NULL,
	[Dir_emp] [nvarchar](50) NULL,
	[Tel_emp] [nvarchar](10) NULL,
	[Ruc_emp] [nchar](11) NOT NULL,
	[Rep_emp] [nvarchar](30) NULL,
	[Id_Ubigeo] [nchar](6) NULL,
	[fec_Ingreso] [datetime] NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Paciente]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Paciente](
	[codPaciente] [nvarchar](8) NOT NULL,
	[nomPaciente] [nvarchar](99) NOT NULL,
	[apePaciente] [nvarchar](99) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[dniPaciente] [nchar](8) NOT NULL,
	[sexo] [int] NOT NULL,
	[direcPaciente] [varchar](20) NULL,
	[tipoSangre] [char](1) NULL,
	[fotoPaciente] [image] NULL,
	[emailPaciente] [varchar](320) NULL,
	[fechaIngreso] [datetime] NULL,
	[numTelefono] [nvarchar](9) NOT NULL,
	[estado] [int] NOT NULL,
	[tipoCliente] [int] NULL,
	[codEmpresa] [nvarchar](5) NULL,
	[Fec_reg] [datetime] NULL,
	[Usu_Registro] [nvarchar](20) NULL,
	[Fec_Ult_Mod] [datetime] NULL,
	[Usu_Ult_Mod] [nvarchar](20) NULL,
	[Id_Ubigeo] [nchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VistaEmpresaEvaluados]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_VistaEmpresaEvaluados] AS
select E.codEmpresa, E.Raz_soc_emp, E.Ruc_emp, 
	   DATEDIFF(day, E.fec_Ingreso, GETDATE())/365 as Años_servicios,
			case E.estado
				when 1 then 'Activa'
				when 0 then 'Inactiva'
			end as Estado_actual,
	   E.Id_Ubigeo, U.Departamento, 
	   U.Provincia, U.Distrito,
	   count(P.codPaciente) as Trabajadores_Evaluados
from Tb_Empresa E left outer join Tb_Paciente P on P.codEmpresa = E.codEmpresa
				  inner join Tb_Ubicacion U on E.Id_Ubigeo = U.Id_Ubigeo
group by E.codEmpresa, E.Raz_soc_emp, E.Ruc_emp, 
	     DATEDIFF(day, E.fec_Ingreso, GETDATE())/365,
		 E.estado, E.Id_Ubigeo, U.Departamento, 
	     U.Provincia, U.Distrito
GO
/****** Object:  Table [dbo].[Tb_Resultados]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Resultados](
	[codResultado] [varchar](10) NOT NULL,
	[peso] [float] NULL,
	[altura] [float] NULL,
	[sangre] [nvarchar](99) NULL,
	[orina] [nvarchar](99) NULL,
	[ekg] [nvarchar](99) NULL,
	[spirometria] [nvarchar](99) NULL,
	[psicologia] [nvarchar](99) NULL,
	[rayosX] [nvarchar](99) NULL,
	[audicion] [nvarchar](99) NULL,
	[vista] [nvarchar](99) NULL,
	[codAnalisis] [char](5) NULL,
	[codEvaluacion] [char](5) NULL,
	[codEnfermedad] [varchar](5) NULL,
	[recomendaciones] [nvarchar](99) NULL,
	[codPaciente] [nvarchar](8) NULL,
	[Fec_reg] [datetime] NULL,
	[Usu_Registro] [nvarchar](20) NULL,
	[Fec_Ult_Mod] [datetime] NULL,
	[Usu_Ult_Mod] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[codResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VistaPacienteEstado]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--VISTA PARA ADMINISTRATIVO (MAURICIO)
CREATE   VIEW [dbo].[vw_VistaPacienteEstado] AS
SELECT P.codPaciente, P.nomPaciente AS Nombre, P.apePaciente AS Apellido, 
		CASE P.sexo
			WHEN 0 THEN 'Hombre'
			WHEN 1 THEN 'Mujer'
		END AS Genero,
	   E.Raz_soc_emp AS Lugar_de_trabajo,
	   CONVERT(varchar, P.fechaNacimiento, 105) AS Fecha_Nacimiento, P.dniPaciente AS Dni, 
	   P.direcPaciente AS Dirección,
		CASE P.estado 
			WHEN 0 THEN 'Inactivo'
			WHEN 1 THEN 'Activo'
		END AS estado,
		CASE P.tipoCliente
			WHEN 1 THEN 'Gerente'
			WHEN 2 THEN 'Administrativo'
			WHEN 3 THEN 'Operacional'
		END AS Tipo_Cliente,
		COUNT(R.codResultado) AS Cantidad_de_evaluaciones
FROM Tb_Paciente P INNER JOIN Tb_Empresa E ON P.codEmpresa = E.codEmpresa
				   LEFT OUTER JOIN Tb_Resultados R ON P.codPaciente = R.codPaciente 
GROUP BY P.codPaciente, P.nomPaciente, P.apePaciente, 
		 P.fechaNacimiento, P.dniPaciente, P.direcPaciente, P.estado, P.sexo, P.tipoCliente,
		 E.Raz_soc_emp
GO
/****** Object:  Table [dbo].[Tb_Evaluacion]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Evaluacion](
	[codEvaluacion] [char](5) NOT NULL,
	[Fec_Eva] [date] NULL,
	[estado] [int] NULL,
	[codMedico] [nchar](4) NOT NULL,
	[codAuditor] [char](3) NOT NULL,
	[Fec_reg] [datetime] NULL,
	[Usu_Registro] [nvarchar](20) NULL,
	[Fec_Ult_Mod] [datetime] NULL,
	[Usu_Ult_Mod] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[codEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Analisis]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Analisis](
	[codAnalisis] [char](5) NOT NULL,
	[descAnalisis] [nvarchar](99) NULL,
	[costo] [money] NULL,
	[estado] [int] NOT NULL,
	[Fec_reg] [datetime] NULL,
	[Usu_Registro] [nvarchar](20) NULL,
	[Fec_Ult_Mod] [datetime] NULL,
	[Usu_Ult_Mod] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[codAnalisis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VistaAnalisisEstado]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--VISTA PARA PAPELEO/ADMINISTRATIVO/CONTABILIDAD (ENZO)
CREATE   VIEW [dbo].[vw_VistaAnalisisEstado] AS
SELECT A.codAnalisis, P.nomPaciente AS NombrePaciente, P.apePaciente AS ApellidoPaciente,
	   Em.Raz_soc_emp AS Lugar_de_trabajo, A.descAnalisis AS TipoAnális, 
	   A.costo AS CostoAnálisis, E.Fec_Eva AS FechaEvaluacion,
	   CASE A.estado 
			WHEN 0 THEN 'Pendiente'
			WHEN 1 THEN 'Finalizado'
	   END AS Estado
FROM Tb_Analisis A INNER JOIN Tb_Resultados R  ON A.codAnalisis  = R.CodAnalisis
                   INNER JOIN Tb_Paciente   P  ON R.codPaciente = P.codPaciente
				   INNER JOIN Tb_Evaluacion E  ON E.codEvaluacion = R.codEvaluacion
				   INNER JOIN Tb_Empresa    Em ON P.codEmpresa = Em.codEmpresa
GO
/****** Object:  Table [dbo].[Tb_Enfermedad]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Enfermedad](
	[codEnfermedad] [varchar](5) NOT NULL,
	[descEnfermedad] [varchar](99) NULL,
PRIMARY KEY CLUSTERED 
(
	[codEnfermedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Medico]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Medico](
	[codMedico] [nchar](4) NOT NULL,
	[dniMedic] [nchar](8) NULL,
	[nomMedico] [varchar](20) NOT NULL,
	[apeMedico] [varchar](20) NOT NULL,
	[numColegiatura] [char](9) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[emailMedico] [varchar](320) NULL,
	[fotoMedico] [image] NULL,
	[direcMedico] [varchar](99) NULL,
	[estado] [int] NOT NULL,
	[codEspecialidad] [nchar](2) NULL,
	[Login_Usuario] [nvarchar](20) NULL,
	[Fec_Reg] [datetime] NULL,
	[Usu_Registro] [nvarchar](20) NULL,
	[Fech_Ult_Mod] [date] NULL,
	[Usu_Ult_Mod] [nvarchar](20) NULL,
	[Id_Ubigeo] [nchar](6) NOT NULL,
	[fec_ingreso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[codMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Auditor]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Auditor](
	[codAuditor] [char](3) NOT NULL,
	[codMedico] [nchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[codAuditor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VistaInformeMedico]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_VistaInformeMedico] AS
select R.codResultado, P.nomPaciente AS Nombre_Paciente, P.apePaciente AS Apellido_Paciente,
	   CONVERT(varchar, P.fechaNacimiento, 105) AS Fecha_Nacimiento, DATEDIFF(day, P.fechaNacimiento, GETDATE())/365 AS Edad, P.dniPaciente,
	   Em.Raz_soc_emp AS Lugar_de_trabajo, An.descAnalisis AS Tipo_Examen,
	   E.Fec_Eva AS Fecha_Evaluacion, R.peso AS Peso_Paciente_Kg, R.altura AS Altura_Paciente_m, 
	   R.sangre, R.orina, R.ekg, R.spirometria, R.psicologia, R.rayosX, R.audicion, R.vista,
	   R.recomendaciones, En.descEnfermedad,
	   M.nomMedico AS Nombre_Medico_Evaluador,
	   M.apeMedico AS Apellidos_Medico_Evaluador, 
	   MA.nomMedico AS Nombre_Medico_Auditor, 
	   MA.apeMedico AS Apellido_Medico_Auditor
FROM Tb_Resultados R INNER JOIN Tb_Paciente P ON R.codPaciente = P.codPaciente
					 INNER JOIN Tb_Empresa Em ON P.codEmpresa = Em.codEmpresa
					 INNER JOIN Tb_Evaluacion E ON R.codEvaluacion = E.codEvaluacion
					 INNER JOIN Tb_Medico M ON E.codMedico = M.codMedico
					 INNER JOIN Tb_Auditor A ON E.codAuditor = A.codAuditor
					 INNER JOIN Tb_Medico MA ON A.codMedico = MA.codMedico
					 INNER JOIN Tb_Analisis An ON R.codAnalisis = An.codAnalisis
					 INNER JOIN Tb_Enfermedad En ON En.codEnfermedad = R.codEnfermedad
GO
/****** Object:  Table [dbo].[Tb_Especialidad]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Especialidad](
	[codEspecialidad] [nchar](2) NOT NULL,
	[descEspecialidad] [varchar](99) NULL,
PRIMARY KEY CLUSTERED 
(
	[codEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VistaMedicoEstado]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- VISTA PARA GERENCIA/RECURSOS HUMANOS/ADMINISTRACION
CREATE   VIEW [dbo].[vw_VistaMedicoEstado] AS
select M.codMedico, M.nomMedico AS Nombre, M.apeMedico AS Apellido,
	   Es.descEspecialidad AS Especialidad, 
			CASE M.estado
				WHEN 1 THEN 'Activo'
				WHEN 0 THEN 'Inactivo'
			END AS Estado,
       M.fechaNacimiento,  DATEDIFF(day, M.fechaNacimiento , GETDATE())/365 AS Edad, 
	   M.dniMedic, M.direcMedico, M.emailMedico,
	   DATEDIFF(day, M.fec_ingreso, GETDATE())/365 AS Años_de_trabajo,
	   COUNT(E.codEvaluacion) AS Cantidad_de_evaluaciones, 
	   COUNT(distinct R.codPaciente) AS Pacientes_Atendidos
from Tb_Medico M INNER JOIN Tb_Evaluacion E ON M.codMedico = E.codMedico
				 INNER JOIN Tb_Resultados R ON R.codEvaluacion = E.codEvaluacion
				 INNER JOIN Tb_Paciente P	ON P.codPaciente = R.codPaciente
				 INNER JOIN Tb_Especialidad Es ON M.codEspecialidad = Es.codEspecialidad
GROUP BY  M.codMedico, M.nomMedico, M.apeMedico, Es.descEspecialidad, M.estado, 
		  M.fechaNacimiento, M.dniMedic, M.fec_ingreso, M.direcMedico, M.emailMedico
GO
/****** Object:  Table [dbo].[Tb_Analisis_Aud]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Analisis_Aud](
	[codAnalisis] [char](5) NOT NULL,
	[descAnalisis] [nvarchar](99) NULL,
	[costo] [money] NULL,
	[estado] [int] NOT NULL,
	[Fec_reg] [datetime] NULL,
	[Usu_Registro] [nvarchar](20) NULL,
	[Fec_Ult_Mod] [datetime] NULL,
	[Usu_Ult_Mod] [nvarchar](20) NULL,
	[Accion] [varchar](20) NULL,
	[FechaAccion] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Consultas]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Consultas](
	[codConsulta] [char](5) NOT NULL,
	[codPaciente] [nvarchar](8) NULL,
	[codMedico] [nchar](4) NULL,
	[motivoConsulta] [nvarchar](255) NULL,
	[fechaConsulta] [datetime] NULL,
	[estado] [nvarchar](20) NULL,
	[resultados] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[codConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_DocumentoPac]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_DocumentoPac](
	[codDocumento] [int] IDENTITY(1,1) NOT NULL,
	[img_sangre] [image] NULL,
	[img_orina] [image] NULL,
	[img_ekg] [image] NULL,
	[img_spirometria] [image] NULL,
	[img_psicologia] [image] NULL,
	[img_rayosX] [image] NULL,
	[img_audicion] [image] NULL,
	[img_vista] [image] NULL,
	[Login_Usuario] [nvarchar](20) NULL,
	[codPaciente] [nvarchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[codDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Empresa_Aud]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Empresa_Aud](
	[codEmpresa] [nvarchar](5) NOT NULL,
	[Raz_soc_emp] [nvarchar](50) NOT NULL,
	[Dir_emp] [nvarchar](50) NULL,
	[Tel_emp] [nvarchar](10) NULL,
	[Ruc_emp] [nchar](11) NOT NULL,
	[Rep_emp] [nvarchar](30) NULL,
	[Id_Ubigeo] [nchar](6) NULL,
	[fec_Ingreso] [datetime] NULL,
	[estado] [int] NOT NULL,
	[Accion] [varchar](20) NULL,
	[FechaAccion] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Horario]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Horario](
	[codHorario] [int] IDENTITY(1,1) NOT NULL,
	[codMedico] [nchar](4) NOT NULL,
	[diaSemana] [nvarchar](10) NOT NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Medico_Aud]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Medico_Aud](
	[codMedico] [nchar](4) NOT NULL,
	[dniMedic] [nchar](8) NULL,
	[nomMedico] [varchar](20) NOT NULL,
	[apeMedico] [varchar](20) NOT NULL,
	[numColegiatura] [char](9) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[emailMedico] [varchar](320) NULL,
	[fotoMedico] [image] NULL,
	[direcMedico] [varchar](99) NULL,
	[estado] [int] NOT NULL,
	[codEspecialidad] [nchar](2) NULL,
	[Login_Usuario] [nvarchar](20) NULL,
	[Fec_Reg] [datetime] NULL,
	[Usu_Registro] [nvarchar](20) NULL,
	[Fech_Ult_Mod] [date] NULL,
	[Usu_Ult_Mod] [nvarchar](20) NULL,
	[Id_Ubigeo] [nchar](6) NOT NULL,
	[fec_ingreso] [datetime] NULL,
	[Accion] [varchar](20) NULL,
	[FechaAccion] [smalldatetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Paciente_Aud]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Paciente_Aud](
	[codPaciente] [nvarchar](8) NOT NULL,
	[nomPaciente] [nvarchar](99) NOT NULL,
	[apePaciente] [nvarchar](99) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[dniPaciente] [nchar](8) NOT NULL,
	[sexo] [int] NOT NULL,
	[direcPaciente] [varchar](20) NULL,
	[tipoSangre] [char](1) NULL,
	[fotoPaciente] [image] NULL,
	[emailPaciente] [varchar](320) NULL,
	[fechaIngreso] [datetime] NULL,
	[numTelefono] [nvarchar](9) NOT NULL,
	[estado] [int] NOT NULL,
	[tipoCliente] [int] NULL,
	[codEmpresa] [nvarchar](5) NULL,
	[Fec_reg] [datetime] NULL,
	[Usu_Registro] [nvarchar](20) NULL,
	[Fec_Ult_Mod] [datetime] NULL,
	[Usu_Ult_Mod] [nvarchar](20) NULL,
	[Id_Ubigeo] [nchar](6) NOT NULL,
	[Accion] [varchar](20) NULL,
	[FechaAccion] [smalldatetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Resultados_Aud]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Resultados_Aud](
	[codResultado] [varchar](10) NOT NULL,
	[peso] [float] NULL,
	[altura] [float] NULL,
	[sangre] [nvarchar](99) NULL,
	[orina] [nvarchar](99) NULL,
	[ekg] [nvarchar](99) NULL,
	[spirometria] [nvarchar](99) NULL,
	[psicologia] [nvarchar](99) NULL,
	[rayosX] [nvarchar](99) NULL,
	[audicion] [nvarchar](99) NULL,
	[vista] [nvarchar](99) NULL,
	[codAnalisis] [char](5) NULL,
	[codEvaluacion] [char](5) NULL,
	[codEnfermedad] [varchar](5) NULL,
	[recomendaciones] [nvarchar](99) NULL,
	[codPaciente] [nvarchar](8) NULL,
	[Fec_reg] [datetime] NULL,
	[Usu_Registro] [nvarchar](20) NULL,
	[Fec_Ult_Mod] [datetime] NULL,
	[Usu_Ult_Mod] [nvarchar](20) NULL,
	[Accion] [varchar](20) NULL,
	[FechaAccion] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Usuario]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Usuario](
	[Login_Usuario] [nvarchar](20) NOT NULL,
	[Pass_Usuario] [nvarchar](20) NULL,
	[Niv_Usuario] [int] NULL,
	[Est_Usuario] [int] NULL,
	[Fec_Registro] [datetime] NULL,
	[Usu_Registro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Login_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Tb_Analisis] ([codAnalisis], [descAnalisis], [costo], [estado], [Fec_reg], [Usu_Registro], [Fec_Ult_Mod], [Usu_Ult_Mod]) VALUES (N'00001', N'EXAMEN PREOCUPACIONAL', 540.0000, 0, CAST(N'2020-05-06T08:00:00.000' AS DateTime), N'jleon', CAST(N'2021-12-05T17:34:21.850' AS DateTime), N'ezvrtgs')
INSERT [dbo].[Tb_Analisis] ([codAnalisis], [descAnalisis], [costo], [estado], [Fec_reg], [Usu_Registro], [Fec_Ult_Mod], [Usu_Ult_Mod]) VALUES (N'00002', N'EXAMEN PREOCUPACIONAL', 200.0000, 1, CAST(N'2020-05-06T08:00:00.000' AS DateTime), N'jleon', NULL, NULL)
INSERT [dbo].[Tb_Analisis] ([codAnalisis], [descAnalisis], [costo], [estado], [Fec_reg], [Usu_Registro], [Fec_Ult_Mod], [Usu_Ult_Mod]) VALUES (N'00003', N'EXAMEN PREOCUPACIONAL', 133.0000, 1, CAST(N'2020-05-06T08:00:00.000' AS DateTime), N'jleon', NULL, NULL)
GO
INSERT [dbo].[Tb_Analisis_Aud] ([codAnalisis], [descAnalisis], [costo], [estado], [Fec_reg], [Usu_Registro], [Fec_Ult_Mod], [Usu_Ult_Mod], [Accion], [FechaAccion]) VALUES (N'00022', N'EXAMEN PREOCUPACIONAL', 540.2000, 1, CAST(N'2022-10-19T18:33:17.640' AS DateTime), N'luciana2021', NULL, NULL, N'INSERTADO', CAST(N'2022-10-19T18:33:00' AS SmallDateTime))
INSERT [dbo].[Tb_Analisis_Aud] ([codAnalisis], [descAnalisis], [costo], [estado], [Fec_reg], [Usu_Registro], [Fec_Ult_Mod], [Usu_Ult_Mod], [Accion], [FechaAccion]) VALUES (N'00022', N'EXAMEN PREOCUPACIONAL', 540.2000, 1, CAST(N'2022-10-19T18:33:17.640' AS DateTime), N'luciana2021', NULL, NULL, N'INSERTADO', CAST(N'2022-10-19T18:36:00' AS SmallDateTime))
INSERT [dbo].[Tb_Analisis_Aud] ([codAnalisis], [descAnalisis], [costo], [estado], [Fec_reg], [Usu_Registro], [Fec_Ult_Mod], [Usu_Ult_Mod], [Accion], [FechaAccion]) VALUES (N'00022', N'EXAMEN PREOCUPACIONAL', 540.2000, 1, CAST(N'2022-10-19T18:36:31.090' AS DateTime), N'luciana2021', NULL, NULL, N'INSERTADO', CAST(N'2022-10-19T18:37:00' AS SmallDateTime))
GO
INSERT [dbo].[Tb_Auditor] ([codAuditor], [codMedico]) VALUES (N'001', N'0001')
INSERT [dbo].[Tb_Auditor] ([codAuditor], [codMedico]) VALUES (N'002', N'0002')
INSERT [dbo].[Tb_Auditor] ([codAuditor], [codMedico]) VALUES (N'003', N'0003')
GO
INSERT [dbo].[Tb_Consultas] ([codConsulta], [codPaciente], [codMedico], [motivoConsulta], [fechaConsulta], [estado], [resultados]) VALUES (N'CO001', N'00000005', N'0002', N'dolor de estomago y nauseas', CAST(N'2024-01-06T09:00:00.000' AS DateTime), N'Realizada', N'Se diagnostico posible ulcera en el estmoago')
INSERT [dbo].[Tb_Consultas] ([codConsulta], [codPaciente], [codMedico], [motivoConsulta], [fechaConsulta], [estado], [resultados]) VALUES (N'CO002', N'00000005', N'0002', N'dolor de estomago y nauseas', CAST(N'2024-01-06T09:00:00.000' AS DateTime), N'Cancelada', NULL)
INSERT [dbo].[Tb_Consultas] ([codConsulta], [codPaciente], [codMedico], [motivoConsulta], [fechaConsulta], [estado], [resultados]) VALUES (N'CO003', N'00000001', N'0001', N'dolor de cabeza', CAST(N'2024-01-06T09:00:00.000' AS DateTime), N'Realizada', N'El paciente presenta una ligera migraña, se recomienda descanso y medicación.')
GO
SET IDENTITY_INSERT [dbo].[Tb_DocumentoPac] ON 

INSERT [dbo].[Tb_DocumentoPac] ([codDocumento], [img_sangre], [img_orina], [img_ekg], [img_spirometria], [img_psicologia], [img_rayosX], [img_audicion], [img_vista], [Login_Usuario], [codPaciente]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'pcalderon2021', N'00000001')
INSERT [dbo].[Tb_DocumentoPac] ([codDocumento], [img_sangre], [img_orina], [img_ekg], [img_spirometria], [img_psicologia], [img_rayosX], [img_audicion], [img_vista], [Login_Usuario], [codPaciente]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'pcalderon2021', N'00000002')
INSERT [dbo].[Tb_DocumentoPac] ([codDocumento], [img_sangre], [img_orina], [img_ekg], [img_spirometria], [img_psicologia], [img_rayosX], [img_audicion], [img_vista], [Login_Usuario], [codPaciente]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'pcalderon2021', N'00000003')
SET IDENTITY_INSERT [dbo].[Tb_DocumentoPac] OFF
GO
INSERT [dbo].[Tb_Empresa] ([codEmpresa], [Raz_soc_emp], [Dir_emp], [Tel_emp], [Ruc_emp], [Rep_emp], [Id_Ubigeo], [fec_Ingreso], [estado]) VALUES (N'00001', N'iHealth sac', N'Av. Salaverry 2409', N'3682459', N'20500397650', N'Liz Gutierrez', N'140101', CAST(N'2015-05-06T08:00:00.000' AS DateTime), 1)
INSERT [dbo].[Tb_Empresa] ([codEmpresa], [Raz_soc_emp], [Dir_emp], [Tel_emp], [Ruc_emp], [Rep_emp], [Id_Ubigeo], [fec_Ingreso], [estado]) VALUES (N'00002', N'Ezentis', N'Av. Javier Prado 309', N'3452738', N'20500397651', N'Valeria Leon', N'140102', CAST(N'2016-05-06T08:00:00.000' AS DateTime), 1)
INSERT [dbo].[Tb_Empresa] ([codEmpresa], [Raz_soc_emp], [Dir_emp], [Tel_emp], [Ruc_emp], [Rep_emp], [Id_Ubigeo], [fec_Ingreso], [estado]) VALUES (N'00003', N'Graña y Montero', N'Av. Julio 234', N'2151500', N'20500397652', N'Luis Díaz Olivero', N'140103', CAST(N'2017-05-06T08:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[Tb_Empresa_Aud] ([codEmpresa], [Raz_soc_emp], [Dir_emp], [Tel_emp], [Ruc_emp], [Rep_emp], [Id_Ubigeo], [fec_Ingreso], [estado], [Accion], [FechaAccion]) VALUES (N'00021', N'JENNIFER S.A.C', N'Av. Javier Prado Este 234', N'3872345', N'20500397665', N'Martha Bellido', N'140101', CAST(N'2021-12-05T20:44:56.750' AS DateTime), 1, N'INSERTADO', CAST(N'2021-12-05T20:45:00' AS SmallDateTime))
INSERT [dbo].[Tb_Empresa_Aud] ([codEmpresa], [Raz_soc_emp], [Dir_emp], [Tel_emp], [Ruc_emp], [Rep_emp], [Id_Ubigeo], [fec_Ingreso], [estado], [Accion], [FechaAccion]) VALUES (N'00021', N'JENNIFER S.A.C', N'Av. Javier Prado Este 234', N'3872345', N'20500397665', N'Martha Bellido', N'140101', CAST(N'2021-12-05T20:44:56.750' AS DateTime), 1, N'INSERTADO', CAST(N'2021-12-05T20:48:00' AS SmallDateTime))
GO
INSERT [dbo].[Tb_Enfermedad] ([codEnfermedad], [descEnfermedad]) VALUES (N'H01.1', N'Dermatosis no infecciosa del párpado')
INSERT [dbo].[Tb_Enfermedad] ([codEnfermedad], [descEnfermedad]) VALUES (N'H02.2', N'Lagoftalmos')
INSERT [dbo].[Tb_Enfermedad] ([codEnfermedad], [descEnfermedad]) VALUES (N'H04.5', N'Estenosis e insuficiencia de las vías lagrimales')
GO
INSERT [dbo].[Tb_Especialidad] ([codEspecialidad], [descEspecialidad]) VALUES (N'01', N'Medico general')
INSERT [dbo].[Tb_Especialidad] ([codEspecialidad], [descEspecialidad]) VALUES (N'02', N'Medico internista')
INSERT [dbo].[Tb_Especialidad] ([codEspecialidad], [descEspecialidad]) VALUES (N'03', N'Pediatria')
GO
INSERT [dbo].[Tb_Evaluacion] ([codEvaluacion], [Fec_Eva], [estado], [codMedico], [codAuditor], [Fec_reg], [Usu_Registro], [Fec_Ult_Mod], [Usu_Ult_Mod]) VALUES (N'00001', CAST(N'2021-05-24' AS Date), 1, N'0011', N'001', CAST(N'2020-05-06T08:00:00.000' AS DateTime), N'jleon', NULL, NULL)
INSERT [dbo].[Tb_Evaluacion] ([codEvaluacion], [Fec_Eva], [estado], [codMedico], [codAuditor], [Fec_reg], [Usu_Registro], [Fec_Ult_Mod], [Usu_Ult_Mod]) VALUES (N'00002', CAST(N'2021-06-23' AS Date), 1, N'0012', N'002', CAST(N'2020-05-06T08:00:00.000' AS DateTime), N'jleon', NULL, NULL)
INSERT [dbo].[Tb_Evaluacion] ([codEvaluacion], [Fec_Eva], [estado], [codMedico], [codAuditor], [Fec_reg], [Usu_Registro], [Fec_Ult_Mod], [Usu_Ult_Mod]) VALUES (N'00003', CAST(N'2021-03-14' AS Date), 1, N'0013', N'003', CAST(N'2020-05-06T08:00:00.000' AS DateTime), N'jleon', NULL, NULL)
GO
INSERT [dbo].[Tb_Medico] ([codMedico], [dniMedic], [nomMedico], [apeMedico], [numColegiatura], [fechaNacimiento], [emailMedico], [fotoMedico], [direcMedico], [estado], [codEspecialidad], [Login_Usuario], [Fec_Reg], [Usu_Registro], [Fech_Ult_Mod], [Usu_Ult_Mod], [Id_Ubigeo], [fec_ingreso]) VALUES (N'0001', N'75473624', N'Renzo', N'Zaldivar Gomez', N'629634416', CAST(N'1975-11-30' AS Date), N'renzogomez@hotmail.com', NULL, N'Av. las begonias 123', 1, N'01', N'renzo2021', CAST(N'2020-05-06T08:00:00.000' AS DateTime), N'jleon', NULL, NULL, N'140110', CAST(N'2008-05-06T08:00:00.000' AS DateTime))
INSERT [dbo].[Tb_Medico] ([codMedico], [dniMedic], [nomMedico], [apeMedico], [numColegiatura], [fechaNacimiento], [emailMedico], [fotoMedico], [direcMedico], [estado], [codEspecialidad], [Login_Usuario], [Fec_Reg], [Usu_Registro], [Fech_Ult_Mod], [Usu_Ult_Mod], [Id_Ubigeo], [fec_ingreso]) VALUES (N'0002', N'77022521', N'Jose', N'Huallipa Reyna', N'629635526', CAST(N'1985-05-03' AS Date), N'jhuallipa@hotmail.com', NULL, N'Av. Aviacion 1450', 1, N'02', N'joseh2021', CAST(N'2020-04-06T09:00:00.000' AS DateTime), N'jleon', NULL, NULL, N'140105', CAST(N'2009-05-06T08:00:00.000' AS DateTime))
INSERT [dbo].[Tb_Medico] ([codMedico], [dniMedic], [nomMedico], [apeMedico], [numColegiatura], [fechaNacimiento], [emailMedico], [fotoMedico], [direcMedico], [estado], [codEspecialidad], [Login_Usuario], [Fec_Reg], [Usu_Registro], [Fech_Ult_Mod], [Usu_Ult_Mod], [Id_Ubigeo], [fec_ingreso]) VALUES (N'0003', N'82408363', N'Juan', N'Suarez Rosas', N'397520472', CAST(N'1985-05-03' AS Date), N'jrosasa@gmail.com', NULL, N'Av. Pedro Venturo 2356', 1, N'03', N'juanS2021', CAST(N'2020-07-06T09:00:00.000' AS DateTime), N'jleon', NULL, NULL, N'140106', CAST(N'2009-03-20T08:00:00.000' AS DateTime))
GO
INSERT [dbo].[Tb_Ubicacion] ([Id_Ubigeo], [IdDepa], [IdProv], [IdDist], [Departamento], [Provincia], [Distrito]) VALUES (N'140101', N'14', N'01', N'01', N'Lima', N'Lima', N'Lima')
INSERT [dbo].[Tb_Ubicacion] ([Id_Ubigeo], [IdDepa], [IdProv], [IdDist], [Departamento], [Provincia], [Distrito]) VALUES (N'140102', N'14', N'01', N'02', N'Lima', N'Lima', N'Ancon')
INSERT [dbo].[Tb_Ubicacion] ([Id_Ubigeo], [IdDepa], [IdProv], [IdDist], [Departamento], [Provincia], [Distrito]) VALUES (N'140103', N'14', N'01', N'03', N'Lima', N'Lima', N'Ate')
GO
INSERT [dbo].[Tb_Usuario] ([Login_Usuario], [Pass_Usuario], [Niv_Usuario], [Est_Usuario], [Fec_Registro], [Usu_Registro]) VALUES (N'chrisk2021', N'pepito123', 1, 1, CAST(N'2021-05-24T00:00:00.000' AS DateTime), N'pcalderon2021')
INSERT [dbo].[Tb_Usuario] ([Login_Usuario], [Pass_Usuario], [Niv_Usuario], [Est_Usuario], [Fec_Registro], [Usu_Registro]) VALUES (N'enriqueV2021', N'pepito123', 1, 1, CAST(N'2021-05-24T00:00:00.000' AS DateTime), N'pcalderon2021')
INSERT [dbo].[Tb_Usuario] ([Login_Usuario], [Pass_Usuario], [Niv_Usuario], [Est_Usuario], [Fec_Registro], [Usu_Registro]) VALUES (N'hikat2021', N'pepito123', 1, 1, CAST(N'2021-05-24T00:00:00.000' AS DateTime), N'pcalderon2021')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Ruc_emp]    Script Date: 14/04/2025 11:27:26 ******/
ALTER TABLE [dbo].[Tb_Empresa] ADD  CONSTRAINT [UQ_Ruc_emp] UNIQUE NONCLUSTERED 
(
	[Ruc_emp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_TB_RZN_EMPRESA]    Script Date: 14/04/2025 11:27:26 ******/
CREATE NONCLUSTERED INDEX [IDX_TB_RZN_EMPRESA] ON [dbo].[Tb_Empresa]
(
	[Raz_soc_emp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TB_FEC_EVA]    Script Date: 14/04/2025 11:27:26 ******/
CREATE NONCLUSTERED INDEX [IDX_TB_FEC_EVA] ON [dbo].[Tb_Evaluacion]
(
	[Fec_Eva] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_TB_CLG_MEDICO]    Script Date: 14/04/2025 11:27:26 ******/
CREATE NONCLUSTERED INDEX [IDX_TB_CLG_MEDICO] ON [dbo].[Tb_Medico]
(
	[dniMedic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_TB_DNI_PACIENTE]    Script Date: 14/04/2025 11:27:26 ******/
CREATE NONCLUSTERED INDEX [IDX_TB_DNI_PACIENTE] ON [dbo].[Tb_Paciente]
(
	[dniPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_TB_UBICACION]    Script Date: 14/04/2025 11:27:26 ******/
CREATE NONCLUSTERED INDEX [IDX_TB_UBICACION] ON [dbo].[Tb_Ubicacion]
(
	[Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tb_Paciente] ADD  CONSTRAINT [def_fechaingreso]  DEFAULT (getdate()) FOR [fechaIngreso]
GO
ALTER TABLE [dbo].[Tb_Paciente] ADD  CONSTRAINT [def_Fec_reg_p]  DEFAULT (getdate()) FOR [Fec_reg]
GO
ALTER TABLE [dbo].[Tb_Resultados] ADD  CONSTRAINT [def_Fec_reg]  DEFAULT (getdate()) FOR [Fec_reg]
GO
ALTER TABLE [dbo].[Tb_Auditor]  WITH CHECK ADD FOREIGN KEY([codMedico])
REFERENCES [dbo].[Tb_Medico] ([codMedico])
GO
ALTER TABLE [dbo].[Tb_Consultas]  WITH CHECK ADD FOREIGN KEY([codMedico])
REFERENCES [dbo].[Tb_Medico] ([codMedico])
GO
ALTER TABLE [dbo].[Tb_Consultas]  WITH CHECK ADD FOREIGN KEY([codPaciente])
REFERENCES [dbo].[Tb_Paciente] ([codPaciente])
GO
ALTER TABLE [dbo].[Tb_DocumentoPac]  WITH CHECK ADD FOREIGN KEY([codPaciente])
REFERENCES [dbo].[Tb_Paciente] ([codPaciente])
GO
ALTER TABLE [dbo].[Tb_DocumentoPac]  WITH CHECK ADD FOREIGN KEY([Login_Usuario])
REFERENCES [dbo].[Tb_Usuario] ([Login_Usuario])
GO
ALTER TABLE [dbo].[Tb_Empresa]  WITH CHECK ADD FOREIGN KEY([Id_Ubigeo])
REFERENCES [dbo].[Tb_Ubicacion] ([Id_Ubigeo])
GO
ALTER TABLE [dbo].[Tb_Evaluacion]  WITH CHECK ADD FOREIGN KEY([codAuditor])
REFERENCES [dbo].[Tb_Auditor] ([codAuditor])
GO
ALTER TABLE [dbo].[Tb_Evaluacion]  WITH CHECK ADD FOREIGN KEY([codMedico])
REFERENCES [dbo].[Tb_Medico] ([codMedico])
GO
ALTER TABLE [dbo].[Tb_Horario]  WITH CHECK ADD  CONSTRAINT [FK_Horario_Medico] FOREIGN KEY([codMedico])
REFERENCES [dbo].[Tb_Medico] ([codMedico])
GO
ALTER TABLE [dbo].[Tb_Horario] CHECK CONSTRAINT [FK_Horario_Medico]
GO
ALTER TABLE [dbo].[Tb_Medico]  WITH CHECK ADD FOREIGN KEY([codEspecialidad])
REFERENCES [dbo].[Tb_Especialidad] ([codEspecialidad])
GO
ALTER TABLE [dbo].[Tb_Medico]  WITH CHECK ADD FOREIGN KEY([Id_Ubigeo])
REFERENCES [dbo].[Tb_Ubicacion] ([Id_Ubigeo])
GO
ALTER TABLE [dbo].[Tb_Medico]  WITH CHECK ADD FOREIGN KEY([Login_Usuario])
REFERENCES [dbo].[Tb_Usuario] ([Login_Usuario])
GO
ALTER TABLE [dbo].[Tb_Paciente]  WITH CHECK ADD FOREIGN KEY([codEmpresa])
REFERENCES [dbo].[Tb_Empresa] ([codEmpresa])
GO
ALTER TABLE [dbo].[Tb_Paciente]  WITH CHECK ADD FOREIGN KEY([codPaciente])
REFERENCES [dbo].[Tb_Paciente] ([codPaciente])
GO
ALTER TABLE [dbo].[Tb_Paciente]  WITH CHECK ADD FOREIGN KEY([Id_Ubigeo])
REFERENCES [dbo].[Tb_Ubicacion] ([Id_Ubigeo])
GO
ALTER TABLE [dbo].[Tb_Resultados]  WITH CHECK ADD FOREIGN KEY([codAnalisis])
REFERENCES [dbo].[Tb_Analisis] ([codAnalisis])
GO
ALTER TABLE [dbo].[Tb_Resultados]  WITH CHECK ADD FOREIGN KEY([codEnfermedad])
REFERENCES [dbo].[Tb_Enfermedad] ([codEnfermedad])
GO
ALTER TABLE [dbo].[Tb_Resultados]  WITH CHECK ADD FOREIGN KEY([codEvaluacion])
REFERENCES [dbo].[Tb_Evaluacion] ([codEvaluacion])
GO
ALTER TABLE [dbo].[Tb_Resultados]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Result_codPa] FOREIGN KEY([codPaciente])
REFERENCES [dbo].[Tb_Paciente] ([codPaciente])
GO
ALTER TABLE [dbo].[Tb_Resultados] CHECK CONSTRAINT [FK_Tb_Result_codPa]
GO
ALTER TABLE [dbo].[Tb_Empresa]  WITH CHECK ADD  CONSTRAINT [chk_RucEmpresa] CHECK  (([Ruc_emp] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Tb_Empresa] CHECK CONSTRAINT [chk_RucEmpresa]
GO
ALTER TABLE [dbo].[Tb_Medico]  WITH CHECK ADD  CONSTRAINT [chk_dniMedic] CHECK  (([dniMedic] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Tb_Medico] CHECK CONSTRAINT [chk_dniMedic]
GO
ALTER TABLE [dbo].[Tb_Paciente]  WITH CHECK ADD  CONSTRAINT [chk_codPaciente] CHECK  (([codPaciente] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Tb_Paciente] CHECK CONSTRAINT [chk_codPaciente]
GO
ALTER TABLE [dbo].[Tb_Paciente]  WITH CHECK ADD  CONSTRAINT [chk_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[Tb_Paciente] CHECK CONSTRAINT [chk_estado]
GO
ALTER TABLE [dbo].[Tb_Paciente]  WITH CHECK ADD  CONSTRAINT [chk_numTelefono] CHECK  (([numTelefono] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Tb_Paciente] CHECK CONSTRAINT [chk_numTelefono]
GO
ALTER TABLE [dbo].[Tb_Paciente]  WITH CHECK ADD  CONSTRAINT [chk_tipoCliente] CHECK  (([tipoCliente]=(3) OR [tipoCliente]=(2) OR [tipoCliente]=(1)))
GO
ALTER TABLE [dbo].[Tb_Paciente] CHECK CONSTRAINT [chk_tipoCliente]
GO
ALTER TABLE [dbo].[Tb_Usuario]  WITH CHECK ADD  CONSTRAINT [chk_Est_Usuario] CHECK  (([Est_Usuario]=(1) OR [Est_Usuario]=(0)))
GO
ALTER TABLE [dbo].[Tb_Usuario] CHECK CONSTRAINT [chk_Est_Usuario]
GO
ALTER TABLE [dbo].[Tb_Usuario]  WITH CHECK ADD  CONSTRAINT [chk_Niv_Usuario] CHECK  (([Niv_Usuario]=(2) OR [Niv_Usuario]=(1)))
GO
ALTER TABLE [dbo].[Tb_Usuario] CHECK CONSTRAINT [chk_Niv_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarConsultasPendientes]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarConsultasPendientes]
AS
BEGIN
    UPDATE Tb_Consultas
    SET Estado = 'Cancelada'
    WHERE Estado = 'Pendiente'
    AND DATEDIFF(HOUR, FechaConsulta, GETDATE()) >= 24;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelarConsulta]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CancelarConsulta]
    @codConsulta CHAR(5)
AS
BEGIN
    UPDATE Tb_Consultas
    SET estado = 'Cancelada'
    WHERE codConsulta = @codConsulta;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaEspecialidadFechas]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ConsultaEspecialidadFechas]
    @FechaInicio DATETIME = NULL,
    @FechaFin DATETIME = NULL
AS
BEGIN
    SELECT E.descEspecialidad AS Especialidad, COUNT(C.codConsulta) AS TotalConsultas
    FROM Tb_Consultas AS C
    JOIN Tb_Medico AS M ON C.codMedico = M.codMedico
    JOIN Tb_Especialidad AS E ON M.codEspecialidad = E.codEspecialidad
    WHERE 
        (C.FechaConsulta >= @FechaInicio OR @FechaInicio IS NULL) AND 
        (C.FechaConsulta <= @FechaFin OR @FechaFin IS NULL)
    GROUP BY E.descEspecialidad 
    ORDER BY TotalConsultas DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaMedicosEspecialidad]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ConsultaMedicosEspecialidad]
 @codEspecialidad nchar(2)
 AS
 BEGIN
SELECT m.codMedico,e.codEspecialidad,M.nomMedico + ',' +  M.apeMedico as NombreMedico, E.descEspecialidad AS Especialidad
FROM Tb_Medico AS M
JOIN Tb_Especialidad AS E ON M.codEspecialidad = E.codEspecialidad
Where M.codEspecialidad = @codEspecialidad
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultasAsignadasMedico]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ConsultasAsignadasMedico]
    @codMedico NCHAR(4),
    @estado NVARCHAR(50) = NULL
AS
BEGIN
    SELECT  
        C.codConsulta, c.codMedico,c.codPaciente,
        M.apeMedico + ', ' + M.nomMedico AS NombreMedico, 
        ES.descEspecialidad AS Especialidad,
        M.emailMedico, 
        P.apePaciente + ', ' + P.nomPaciente AS NombrePaciente, 
        C.FechaConsulta, 
        C.motivoConsulta, 
        C.resultados, 
        C.estado
    FROM 
        Tb_Consultas AS C
        INNER JOIN Tb_Paciente AS P ON C.codPaciente = P.codPaciente
        INNER JOIN Tb_Medico AS M ON M.codMedico = C.codMedico
        INNER JOIN Tb_Especialidad AS ES ON ES.codEspecialidad = M.codEspecialidad
    WHERE 
         c.codMedico = @codMedico AND
        (@estado IS NULL OR C.estado = @estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetConsultasByDate]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetConsultasByDate]
  -- CONSULTAS POR FECHA
    @FechaConsulta DATE
AS
BEGIN

    SELECT 
        c.codConsulta,
        c.CodPaciente,
        c.CodMedico,
        c.fechaConsulta,
        c.Estado,
        p.apePaciente + ', ' + p.nomPaciente   AS Paciente,
        m.apeMedico + ', ' +  m.nomMedico  AS Medico,
	    c.motivoConsulta
    FROM 
        Tb_Consultas c
    INNER JOIN 
        Tb_Paciente p ON c.CodPaciente = p.codPaciente
    INNER JOIN 
        Tb_Medico m ON c.CodMedico = m.codMedico
    WHERE 
        CAST(c.FechaConsulta AS DATE) = @FechaConsulta
    ORDER BY 
        c.FechaConsulta;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetConsultasByDate1]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetConsultasByDate1]
  -- CONSULTAS POR FECHA
    @FechaConsulta DATETIME
AS
BEGIN

    SELECT 
        c.codConsulta,
        c.CodPaciente,
        c.CodMedico,
        c.fechaConsulta,
        c.Estado,
        p.apePaciente + ', ' + p.nomPaciente   AS Paciente,
        m.apeMedico + ', ' +  m.nomMedico  AS Medico
    FROM 
        Tb_Consultas c
    INNER JOIN 
        Tb_Paciente p ON c.CodPaciente = p.codPaciente
    INNER JOIN 
        Tb_Medico m ON c.CodMedico = m.codMedico
    WHERE 
        CAST(c.FechaConsulta AS DATE) = @FechaConsulta
    ORDER BY 
        c.FechaConsulta;
END

EXEC sp_GetConsultasByDate '20240624'

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarConsultasPaciente]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarConsultasPaciente]
  @dniPaciente nchar(8),
  @estado NVARCHAR(50) = NULL
 AS
 BEGIN
   SELECT C.codConsulta,c.codPaciente,c.codMedico, P.apePaciente + ', ' + P.nomPaciente as NombrePaciente,M.apeMedico + ', ' + M.nomMedico as NombreMedico, C.FechaConsulta, C.motivoConsulta, C.resultados
   ,C.estado FROM Tb_Consultas AS C
   inner JOIN Tb_Paciente AS P ON C.codPaciente = P.codPaciente
   inner JOIN Tb_Medico as M on M.codMedico = C.codMedico
   WHERE P.dniPaciente = @dniPaciente AND
        (@estado IS NULL OR C.estado = @estado)
   order by  c.fechaConsulta desc
  END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEspecialidad]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarEspecialidad]
 AS
 BEGIN
Select DISTINCT  codEspecialidad ,descEspecialidad as Especialidad from Tb_Especialidad 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMedicosEspecialidad]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarMedicosEspecialidad]

 AS
 BEGIN
SELECT m.codMedico,e.codEspecialidad, M.nomMedico + ',' +  M.apeMedico as NombreMedico, E.descEspecialidad AS Especialidad
FROM Tb_Medico AS M
JOIN Tb_Especialidad AS E ON M.codEspecialidad = E.codEspecialidad
ORDER BY E.descEspecialidad, M.nomMedico
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ProgramarConsulta]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ProgramarConsulta]
    @codPaciente nvarCHAR(8),
    @codMedico nCHAR(4),
	@motivoConsulta nvarchar(255),
    @fechaConsulta DATETIME
AS
BEGIN
    DECLARE @newId CHAR(5);
    DECLARE @maxId INT;

    -- Obtener el valor numérico más alto de los IDs de consulta existentes
    SELECT @maxId = MAX(CAST(SUBSTRING(codConsulta, 3, 3) AS INT))
    FROM Tb_Consultas;

    -- Manejar el caso cuando no hay registros en la tabla
    IF @maxId IS NULL
        SET @maxId = 0;

    -- Incrementar el valor numérico y generar el nuevo ID
    SET @newId = 'CO' + RIGHT('000' + CAST(@maxId + 1 AS VARCHAR(3)), 3);

    -- Insertar la nueva consulta con el ID autogenerado
    INSERT INTO Tb_Consultas (codConsulta, codPaciente, codMedico,motivoConsulta , fechaConsulta, estado)
    VALUES (@newId, @codPaciente, @codMedico,@motivoConsulta, @fechaConsulta, 'Pendiente');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarResultadosConsulta]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegistrarResultadosConsulta]
    @codConsulta CHAR(5),
    @resultados NVARCHAR(MAX)
AS
BEGIN
    UPDATE Tb_Consultas
    SET resultados = @resultados, estado = 'Realizada'
    WHERE codConsulta = @codConsulta;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ResultadosAnalisisPaciente]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ResultadosAnalisisPaciente]
 @codPaciente nvarchar(8)
 AS
 BEGIN
SELECT R.codResultado, R.codAnalisis, A.descAnalisis,en.descEnfermedad as Enfermedad, P.apePaciente + ', ' + P.nomPaciente as NombrePaciente, r.Fec_reg as FechaResultado, R.peso, R.altura, R.sangre, R.orina, R.vista, R.spirometria,R.rayosX
FROM Tb_Resultados AS R
JOIN Tb_Paciente AS P ON P.codPaciente = R.codPaciente
JOIN Tb_Analisis AS A ON A.codAnalisis = R.codAnalisis
JOIN Tb_Enfermedad AS EN ON EN.codEnfermedad = R.codEnfermedad
WHERE P.codPaciente = @codPaciente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerConsultasPendientes]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_VerConsultasPendientes]
AS
BEGIN
    SELECT  c.codConsulta,p.codPaciente,m.codMedico, CONCAT(p.nomPaciente, ', ', p.apePaciente) AS Paciente, CONCAT(m.nomMedico, ', ', m.apeMedico) AS Medico,c.motivoConsulta, c.fechaConsulta
    FROM Tb_Consultas c
    JOIN Tb_Paciente p ON c.codPaciente = p.codPaciente
    JOIN Tb_Medico m ON c.codMedico = m.codMedico
    WHERE c.estado = 'Pendiente'
    ORDER BY c.fechaConsulta;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ActualizarAnalisis]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2: Para Actualizar un solo Análisis 
CREATE   PROCEDURE [dbo].[usp_ActualizarAnalisis]
@vCod char(5),
@vDes varchar(99),
@vCos money,
@vEst integer = 1, -- Determinante 
@vUsu_Ult_Mod nvarchar(20)
--Autor: Enzo Venturi
--Empresa: CHECKSALUD
--Sistema: Modulo de analisis
--Fecha Creacion: 15/11/2021
--Fecha Modificacion: 15/11/2021
--SP que permite actualizar un analisis
AS
	UPDATE  Tb_Analisis SET 
			descAnalisis = @vDes,
			costo        = @vCos,
			estado       = @vEst,
			Fec_Ult_Mod  = GETDATE(),
            Usu_Ult_Mod  = @vUsu_Ult_Mod
			WHERE 
			codAnalisis  = @vCod
GO
/****** Object:  StoredProcedure [dbo].[usp_ActualizarEmpresa]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--2: Actualizar una empresa
CREATE   PROCEDURE [dbo].[usp_ActualizarEmpresa]
@VcodEmpresa nvarchar(5),
@VRaz_soc_emp nvarchar(50),
@VDir_emp nvarchar(50),
@VTel_emp nvarchar(10),
@VRuc_emp nchar(11),
@VRep_emp nvarchar(30),
@VId_ubigeo nchar(6),
@Vestado integer = 1
AS
--Autor: Jennifer Oropeza
--Empresa: CHECKSALUD
--Sistema: Modulo de empresa
--Fecha Creacion: 14/11/2021
--SP que permite la actualizacion de una empresa

	UPDATE  Tb_Empresa SET 
			Raz_soc_emp = @VRaz_soc_emp,
			Dir_emp     = @VDir_emp,
			Tel_emp     = @VTel_emp,
			Ruc_emp     = @VRuc_emp,
			Rep_emp     = @VRep_emp,
			Id_Ubigeo   = @VId_ubigeo,
			estado      = @Vestado
			WHERE 
			codEmpresa= @VcodEmpresa
GO
/****** Object:  StoredProcedure [dbo].[usp_ActualizarEstadoPaciente]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--2) Actualizar un Paciente
CREATE   PROCEDURE [dbo].[usp_ActualizarEstadoPaciente]
	@vCod char(8),
	@vNom nvarchar (99),
	@vApe nvarchar (99),
	@vFNac date,
	@vDni nchar (8),
	@vSexo int,
	@vDir varchar(20),
	@vSang char(1),
	@vEmail varchar(320),
	@vFIngr datetime,
	@vTelef nvarchar (9) ,
	@vEsta int = 1, -- Determinante
	@vTipo int,
	@vCEmpr nvarchar (5),
	@vUsu_Ult_Mod nvarchar (20),
	@vId_Ubigeo nchar(6)
AS
--Autor: Mauricio Vasquez Vidal
--Empresa: ISIL
--Sistema: Modulo de Estado
--Fecha Creación: 14/11/2021
--Fecha Modificación: 14/11/2021
--SP que permite la actualización del registro de un paciente
	UPDATE  Tb_Paciente SET 
			nomPaciente = @vNom,
			apePaciente = @vApe,
			fechaNacimiento = @vFNac,
			dniPaciente = @vDni,
			sexo = @vSexo,
			direcPaciente = @vDir,
			tipoSangre = @vSang,
			fotoPaciente = NULL,
			emailPaciente = @vEmail,
			fechaIngreso = @vFIngr,
			numTelefono = @vTelef,
			estado       = @vEsta,
			tipoCliente = @vTipo,
			codEmpresa = @vCEmpr,
			Fec_Ult_Mod  = GETDATE(),
			Usu_Ult_Mod  = @vUsu_Ult_Mod,
			Id_Ubigeo = @vId_Ubigeo
			WHERE 
			codPaciente  = @vCod
GO
/****** Object:  StoredProcedure [dbo].[usp_ActualizarMedico]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2: Actualizar un medico 
CREATE   PROCEDURE [dbo].[usp_ActualizarMedico]
@vCodMedico nchar(4),
@dniMedic nchar(8),
@nomMedico varchar(20),
@apeMedico varchar(20),
@numColegiatura char(9),
@fechaNacimiento date,
@emailMedico varchar(320),
@direcMedico varchar(99),
@estado integer,
@codEspecialidad nchar(2),
@Login_Usuario nvarchar(20),
@Usu_Ult_Mod nvarchar(20),
@Id_Ubigeo nchar(6)
AS
--Autor: Jennifer Oropeza
--Empresa: CHECKSALUD
--Sistema: Modulo de medico
--Fecha Creacion: 24/11/2021
--SP que permite la actualizacion un medico
	UPDATE  Tb_Medico SET 
			dniMedic = @dniMedic, 
			nomMedico = @nomMedico,
			apeMedico = @apeMedico,
			numColegiatura = @numColegiatura,
			fechaNacimiento = @fechaNacimiento,
			emailMedico = @emailMedico,
			direcMedico = @direcMedico,
			estado = @estado,
			codEspecialidad = @codEspecialidad,
			Login_Usuario = @Login_Usuario,
			Fech_Ult_Mod = GETDATE(),
			Usu_Ult_Mod = @Usu_Ult_Mod,
			Id_Ubigeo = @Id_Ubigeo
WHERE codMedico = @VcodMedico
GO
/****** Object:  StoredProcedure [dbo].[usp_ActualizarResultado]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--2: Actualizar un resultado
CREATE   PROCEDURE [dbo].[usp_ActualizarResultado]
@vCod varchar(10),
@vPeso decimal(3,1),
@vAltura decimal(3,2),
@vSangre nvarchar(99),
@vOrina nvarchar(99),
@vEkg nvarchar(99),
@vSpiro nvarchar(99),
@vPsico nvarchar(99),
@vXray nvarchar(99),
@vAudi nvarchar(99),
@vVisi nvarchar(99),
@vCodEnfe char(5),
@vRecom nvarchar(99),
@vCodPac nvarchar(8),
@vUsu_Ult_Mod nvarchar(20)
AS
--Autor: Patricio Calderon
--Empresa: CheckSalud
--Sistema: Modulo de Resultados
--Fecha Creacion: 14/11/2021
--Fecha Modificacion: 14/11/2021
--SP que permite la actualizacion de un registro de un resultado
UPDATE Tb_Resultados set 
		peso = @vPeso,
		altura = @vAltura,
		sangre = @vSangre,
		orina = @vOrina,
		ekg = @vEkg,
		spirometria = @vSpiro,
		psicologia = @vPsico,
		rayosX = @vXray,
		audicion = @vAudi,
		vista = @vVisi,
		codEnfermedad = @vCodEnfe,
		recomendaciones = @vRecom,
		codPaciente = @vCodPac,
		Usu_Ult_Mod = @vUsu_Ult_Mod,
		Fec_Ult_Mod = GETDATE()
WHERE codResultado = @vCod
GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultarAnalisis]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--4: Para  Consultar un solo Análisis
CREATE   PROCEDURE  [dbo].[usp_ConsultarAnalisis]
@vCod char(5)
AS
--Autor: Enzo Venturi
--Empresa: CHECKSALUD
--Sistema: Modulo de analisis
--Fecha Creacion: 15/11/2021
--Fecha Modificacion: 15/11/2021
--SP que permite consultar un analisis
SELECT [codAnalisis]
      ,[NombrePaciente]
      ,[ApellidoPaciente]
      ,[Lugar_de_trabajo]
      ,[TipoAnális]
      ,[CostoAnálisis]
      ,[FechaEvaluacion]
      ,[Estado]
  FROM [dbo].[vw_VistaAnalisisEstado]
  WHERE codAnalisis = @vCod

GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultarEmpresa]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--4: Consultar una empresa
CREATE   PROCEDURE  [dbo].[usp_ConsultarEmpresa]
@VcodEmpresa nvarchar(5)
AS
--Autor: Jennifer Oropeza
--Empresa: CHECKSALUD
--Sistema: Modulo de empresa
--Fecha Creacion: 14/11/2021
--SP que permite consultar una empresa
SELECT [codEmpresa]
      ,[Raz_soc_emp]
      ,[Ruc_emp]
      ,[Años_servicios]
      ,[Estado_actual]
      ,[Id_Ubigeo]
      ,[Departamento]
      ,[Provincia]
      ,[Distrito]
      ,[Trabajadores_Evaluados]
  FROM [dbo].[vw_VistaEmpresaEvaluados]
  WHERE codEmpresa=@VcodEmpresa
GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultarMedico]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ConsultarMedico]
@vCodMedico nchar(4)
AS
--Autor: Jennifer Oropeza
--Empresa: CHECKSALUD
--Sistema: Modulo de medico
--Fecha Creacion: 24/11/2021
--SP que permite consultar un medico
SELECT [codMedico] as 'codigo',
       [nomMedico] as 'nombre' ,
       [apeMedico] as 'apellido',
	   [dniMedic] as 'dni',
       [numColegiatura] as 'colegiatura',
       [fechaNacimiento] as 'fecha de nacimiento',
       [emailMedico] as 'email',	   
       [direcMedico] as 'direccion',
       [estado] ,
       [codEspecialidad] as 'especialidad',
       [Login_Usuario] as 'login',
       [Id_Ubigeo] as 'ubigeo',
	   [fec_ingreso] as 'fecha de ingreso'       
  FROM [dbo].[Tb_Medico]
WHERE codMedico = @vCodMedico
GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultarPaciente]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--4) Consultar un Paciente
CREATE   PROCEDURE  [dbo].[usp_ConsultarPaciente]
@vCod char(8)
AS
--Autor: Mauricio Vasquez Vidal
--Empresa: ISIL
--Sistema: Modulo de Estado
--Fecha Creación: 14/11/2021
--Fecha Modificación: 14/11/2021
--SP que permite consultar el registro de un paciente
SELECT [codPaciente] as 'Codigo'
      ,[nomPaciente] as 'Nombre'
      ,[apePaciente] as 'Apellido'
      ,[fechaNacimiento] as 'Fecha de Nacimiento'
      ,[dniPaciente] as 'DNI'
      ,[sexo] AS 'Sexo'
      ,[direcPaciente] AS 'Direccion'
	  ,[Id_Ubigeo] AS 'Ubigeo'
      ,[emailPaciente] AS 'Email'
      ,[numTelefono] AS 'Telefono'
	  ,[tipoSangre] AS 'Tipo de sangre'
      ,[estado] AS 'Estado'
	  ,[codEmpresa] as 'Empresa'
      ,[tipoCliente] AS 'Tipo cliente'
	  ,[fechaIngreso] as 'Fecha Ingreso'
      ,[Usu_Registro] AS 'Usuario registro'
FROM [CheckSalud_DB].[dbo].[Tb_Paciente]
WHERE codPaciente = @vCod
GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultarResultado]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--4: Consultar un resultado
CREATE   PROCEDURE [dbo].[usp_ConsultarResultado]
@vCod nvarchar(10)
AS
--Autor: Patricio Calderon
--Empresa: CheckSalud
--Sistema: Modulo de Resultados
--Fecha Creacion: 14/11/2021
--Fecha Modificacion: 14/11/2021
--SP que permite la consulta de un registro de resultado por su ID.
SELECT [codResultado]
      ,Tb_Paciente.codPaciente
      ,CONCAT(Tb_Paciente.nomPaciente,' ',Tb_Paciente.apePaciente) as 'NomApePaciente'
	  ,[dniPaciente]
	  ,[codAnalisis]
	  ,[codEvaluacion]
	  ,[codEnfermedad]
	  ,[peso]
	  ,[altura]
      ,[sangre]
      ,[orina]
      ,[ekg]
      ,[spirometria]
      ,[psicologia]
      ,[rayosX]
      ,[audicion]
      ,[vista]
      ,[recomendaciones]
	  ,Tb_Resultados.Usu_Registro
  FROM [dbo].[Tb_Resultados] INNER JOIN Tb_Paciente
  ON Tb_Resultados.codPaciente = Tb_Paciente.codPaciente
WHERE codResultado = @vCod
GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultarUsuario]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ConsultarUsuario]
  @Login_Usuario nvarchar(20)
  AS
  SELECT Login_Usuario, Pass_Usuario, Niv_Usuario,
  Est_Usuario, Fec_Registro, Usu_Registro
  FROM dbo.Tb_Usuario
  WHERE Login_Usuario = @Login_Usuario
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarAnalisis]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--3: Para   Eliminar un solo Análisis 
CREATE   PROCEDURE   [dbo].[usp_EliminarAnalisis]
@vCod char(5)
AS
--Autor: Enzo Venturi
--Empresa: CHECKSALUD
--Sistema: Modulo de analisis
--Fecha Creacion: 15/11/2021
--Fecha Modificacion: 15/11/2021
--SP que permite eliminar  un analisis
DELETE FROM  Tb_Analisis
	   WHERE codAnalisis = @vCod
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarEmpresa]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--3: Eliminar una empresa
CREATE   PROCEDURE   [dbo].[usp_EliminarEmpresa]
@VcodEmpresa nvarchar(5)
AS
--Autor: Jennifer Oropeza
--Empresa: CHECKSALUD
--Sistema: Modulo de empresa
--Fecha Creacion: 14/11/2021
--SP que permite eliminar una empresa
DELETE FROM  Tb_Empresa
	   WHERE codEmpresa=@VcodEmpresa
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarMedico]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--3: Eliminar un medico
CREATE   PROCEDURE [dbo].[usp_EliminarMedico]
@VcodMedico nchar(4)
AS
--Autor: Jennifer Oropeza
--Empresa: CHECKSALUD
--Sistema: Modulo de medico
--Fecha Creacion: 24/11/2021
--SP que permite eliminar una medico
DELETE FROM  Tb_Medico
	   WHERE codMedico=@VcodMedico
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarPaciente]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--3) Eliminar un Paciente
CREATE   PROCEDURE   [dbo].[usp_EliminarPaciente]
@vCod char(8)
AS
--Autor: Mauricio Vasquez Vidal
--Empresa: ISIL
--Sistema: Modulo de Estado
--Fecha Creación: 14/11/2021
--Fecha Modificación: 14/11/2021
--SP que permite la eliminación del registro de un paciente
DELETE FROM  Tb_Paciente
	   WHERE codPaciente = @vCod
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarResultado]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--3: Eliminar un resultado
CREATE   PROCEDURE [dbo].[usp_EliminarResultado]
@vCod nvarchar(10)
AS
--Autor: Patricio Calderon
--Empresa: CheckSalud
--Sistema: Modulo de Resultados
--Fecha Creacion: 14/11/2021
--Fecha Modificacion: 14/11/2021
--SP que permite la eliminacion de un registro de un resultado
DELETE FROM Tb_Resultados WHERE codResultado = @vCod
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertarAnalisis]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--1: Para   Insertar un solo Análisis 
CREATE   PROCEDURE [dbo].[usp_InsertarAnalisis]
@vDes varchar(99),
@vCos money,
@vEst integer = 1, -- Determinante
@vUsu_Reg nvarchar(20)
AS
--Autor: Enzo Venturi
--Empresa: CHECKSALUD
--Sistema: Modulo de analisis
--Fecha Creacion: 15/11/2021
--Fecha Modificacion: 15/11/2021
--SP que permite la insercion un analisis
DECLARE @vCod  char(5)
DECLARE @vcont int
SET @vcont=(SELECT COUNT(*) FROM Tb_Analisis)
-- Se obtiene el siguiente valor para el codigo del análisis a 
-- insertar.
IF @vcont=0 
        SET @vcod ='00001'
ELSE
		set @vCod = (Select Right(Max(codAnalisis) + 100001, 5)
		FROM Tb_Analisis)
--Insertamos el nuevo análisis
INSERT INTO Tb_Analisis VALUES(@vcod,@vDes,@vCos,@vEst,GETDATE(),@vUsu_Reg,null,null)
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertarEmpresa]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




---1: insertar una empresa
CREATE   PROCEDURE [dbo].[usp_InsertarEmpresa]
@VRaz_soc_empl nvarchar(50),
@VDir_emp nvarchar(50),
@VTel_emp nvarchar(10),
@VRuc_emp nchar(11),
@VRep_emp nvarchar(30),
@VId_ubigeo nchar(6),
@Vestado int
AS 
--Autor: Jennifer Oropeza
--Empresa: CHECKSALUD
--Sistema: Modulo de empresa
--Fecha Creacion: 14/11/2021
--SP que permite la insercion una empresa
declare @VcodEmpresa nvarchar(5)  
declare @vcont int
set @vcont=(Select count(*) from Tb_Empresa)
-- Se obtiene el siguiente valor para el codigo de empresa a 
-- insertar.
if @vcont= 0
	set @VcodEmpresa = '00001'
else
	set @VcodEmpresa=(select RIGHT(MAX(codEmpresa) + 100001, 5) from Tb_Empresa)
	--Insertamos la nueva empresa
	insert into Tb_Empresa values (@VcodEmpresa, @VRaz_soc_empl, @VDir_emp, @VTel_emp, @VRuc_emp, @VRep_emp, @VId_ubigeo, GETDATE(), @Vestado)
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertarEstadoPaciente]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--1) Insertar un Paciente
CREATE   PROCEDURE [dbo].[usp_InsertarEstadoPaciente]
	@vNom nvarchar (99),
	@vApe nvarchar (99),
	@vFNac date,
	@vDni nchar (8),
	@vSexo int,
	@vDir varchar(20),
	@vSang char(1),
	@vEmail varchar(320),
	@vFIngr datetime,
	@vTelef nvarchar (9) ,
	@vEsta int = 1, -- Determinante
	@vTipo int,
	@vCEmpr nvarchar (5),
	@vUsu_Reg nvarchar (20),
	@vId_Ubigeo nchar(6)
AS 
declare @vcod char(8)
declare @vcont int
set @vcont=(Select count(*) from Tb_Paciente)
if @vcont=0
	set @vcod='00000001'
else 
	set @vcod= (Select Right(Max(codPaciente) + 100000001,8) FROM Tb_Paciente)
insert into Tb_Paciente values (@vcod, @vNom, @vApe, @vFNac, @vDni, @vSexo, @vDir, 
								@vSang, NULL, @vEmail, @vFIngr , @vTelef, @vEsta, 
								@vTipo, @vCEmpr,GETDATE(), @vUsu_Reg, NULL, NULL, @vId_Ubigeo)
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertarEvaluacion]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertarEvaluacion]
@vFEva date,
@vMed nchar (4),
@vAud char (3),
@vEst integer = 1, -- Determinante
@vUsu_Reg nvarchar(20)
AS
DECLARE @vCod  char(5)
DECLARE @vcont int
SET @vcont=(SELECT COUNT(*) FROM Tb_Evaluacion)
-- Se obtiene el siguiente valor para el codigo de la evaluacion a 
-- insertar.
IF @vcont=0 
        SET @vCod ='00001'
ELSE
		set @vCod = (Select Right(Max(codEvaluacion) + 100001, 5)
		FROM Tb_Evaluacion)
INSERT INTO Tb_Evaluacion VALUES(@vCod,@vFEva,@vEst,@vMed,@vAud,GETDATE(),@vUsu_Reg,null,null)
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertarMedico]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




---1: insertar un medico
CREATE   PROCEDURE [dbo].[usp_InsertarMedico]
@dniMedic nchar(8),
@nomMedico varchar(20),
@apeMedico varchar(20),
@numColegiatura char(9),
@fechaNacimiento date,
@emailMedico varchar(320),
@direcMedico varchar(99),
@estado integer,
@codEspecialidad nchar(2),
@Login_Usuario nvarchar(20),
@Usu_Registro nvarchar(20),
@Id_Ubigeo nchar(6),
@fec_ingreso datetime
AS
--Autor: Jennifer Oropeza
--Empresa: CHECKSALUD
--Sistema: Modulo de medico
--Fecha Creacion: 24/11/2021
--SP que permite la insercion un medico
declare @VcodMedico nchar(4)  
declare @vcont int
set @vcont=(Select count(*) from Tb_Medico)
-- Se obtiene el siguiente valor para el codigo de medico a 
-- insertar.
if @vcont= 0
	set @VcodMedico = '0001'
else
	set @VcodMedico=(select RIGHT(MAX(codMedico) + 10001,4) from Tb_Medico)
	--Insertamos el nuevo Medico
insert into Tb_Medico values ( @VcodMedico, @dniMedic, @nomMedico, @apeMedico, @numColegiatura, @fechaNacimiento, @emailMedico, NULL, @direcMedico, @estado,
							   @codEspecialidad, @Login_Usuario, GETDATE(), @Usu_Registro, null, null, @Id_Ubigeo, @fec_ingreso)
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertarResultado]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- PROCEDIMIENTO ALMACENADOS -------------------------------
------------------------------------------------------------
--1: Insertar un resultado
CREATE   PROCEDURE [dbo].[usp_InsertarResultado]
@vPeso  decimal(3,1),
@vAltura decimal(3,2),
@vSangre nvarchar(99),
@vOrina nvarchar(99),
@vEkg nvarchar(99),
@vSpiro nvarchar(99),
@vPsico nvarchar(99),
@vXray nvarchar(99),
@vAudi nvarchar(99),
@vVisi nvarchar(99),
@vCodAnal char(5),
@vCodEva char(5),
@vCodEnfe char(5),
@vRecom nvarchar(99),
@vCodPac nvarchar(8),
@vUsu_Registro nvarchar(20)
AS
--Autor: Patricio Calderon
--Empresa: CheckSalud
--Sistema: Modulo de Resultados
--Fecha Creacion: 14/11/2021
--Fecha Modificacion: 14/11/2021
--SP que permite la insercion de un registro de un resultado
declare @vCod varchar(10)
declare @vCont int
set @vCont = (Select count(*) from Tb_Resultados)
-- Se obtiene el siguiente valor para el codigo del resultado a insertar.
if @vCont = 0 
       set @vCod ='0000000001'
else
       set @vCod = (Select Right(Max(codResultado) + 10000000001, 10) 
    From Tb_Resultados)
--Insertamos el nuevo resultado
INSERT INTO Tb_Resultados VALUES(@vCod, @vPeso, @vAltura, @vSangre, @vOrina, @vEkg, @vSpiro, @vPsico, 
								 @vXray, @vAudi, @vVisi, @vCodAnal, @vCodEva, @vCodEnfe, @vRecom, @vCodPac,
								 GETDATE(), @vUsu_Registro, NULL, NULL)
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertarUsuario]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_InsertarUsuario]
(@Login_Usuario nvarchar(10),
 @Pass_Usuario  nvarchar(10),
 @Usu_Registro nvarchar(10) 
)
as
insert into Tb_Usuario
values (@Login_Usuario,@Pass_Usuario,1,1,GETDATE(),@Usu_Registro)
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarAnalisis]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--5: Para     Listar todos los Análisis 
CREATE   PROCEDURE     [dbo].[usp_ListarAnalisis]
AS
--Autor: Enzo Venturi
--Empresa: CHECKSALUD
--Sistema: Modulo de analisis
--Fecha Creacion: 15/11/2021
--Fecha Modificacion: 15/11/2021
--SP que permite listar todos los analisis
SELECT [codAnalisis]
      ,[NombrePaciente]
      ,[ApellidoPaciente]
      ,[Lugar_de_trabajo]
      ,[TipoAnális]
      ,[CostoAnálisis]
      ,[FechaEvaluacion]
      ,[Estado]
  FROM [dbo].[vw_VistaAnalisisEstado]
  ORDER BY codAnalisis
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarAuditor]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarAuditor]
AS
SELECT codAuditor, CONCAT(nomMedico,' ',apeMedico) as 'Auditor'
FROM Tb_Auditor INNER JOIN
Tb_Medico ON Tb_Auditor.codMedico = Tb_Medico.codMedico
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarEmpresa]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--5:  Listar empresas
CREATE   PROCEDURE [dbo].[usp_ListarEmpresa]
AS
--Autor: Jennifer Oropeza
--Empresa: CHECKSALUD
--Sistema: Modulo de empresa
--Fecha Creacion: 14/11/2021
--SP que permite listar una empresa
SELECT [codEmpresa]
      ,[Raz_soc_emp]
      ,[Ruc_emp]
      ,[Años_servicios]
      ,[Estado_actual]
      ,[Id_Ubigeo]
      ,[Departamento]
      ,[Provincia]
      ,[Distrito]
      ,[Trabajadores_Evaluados]
  FROM [dbo].[vw_VistaEmpresaEvaluados]
  ORDER BY codEmpresa
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarEnfermedad]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[usp_ListarEnfermedad]
as
select
codEnfermedad,
descEnfermedad
from Tb_Enfermedad

GO
/****** Object:  StoredProcedure [dbo].[usp_ListarEspecialidad]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_ListarEspecialidad]
AS
select
 codEspecialidad,
 descEspecialidad
from Tb_Especialidad
order by descEspecialidad
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarMedico]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE  [dbo].[usp_ListarMedico]
AS
select
 M.codMedico as Codigo,
 M.nomMedico as Nombre,
 M.apeMedico as Apellidos,
 M.numColegiatura as [Numero de Colegiatura],
 M.fechaNacimiento as  [Fecha de Nacimiento],
 DATEDIFF(day, M.fechaNacimiento , GETDATE())/365 AS Edad, 
 CASE M.estado
	WHEN 1 THEN 'Activo'
	WHEN 0 THEN 'Inactivo'
	END AS Estado,
 E.descEspecialidad as Especialidad,
 Login_Usuario  as [Login de Usuario],
 M.direcMedico as Direccion 
from Tb_Medico M inner join Tb_Especialidad E
    on E.codEspecialidad =M.codEspecialidad
order by M.codMedico
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarMedico2]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarMedico2]
AS
SELECT codMedico, CONCAT(nomMedico,' ',apeMedico) as 'Medico'
FROM Tb_Medico
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarPaciente]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--5) Listar un Estado de Paciente
CREATE   PROCEDURE [dbo].[usp_ListarPaciente]
AS
SELECT [codPaciente] as 'Codigo'
      ,[nomPaciente] as 'Nombre'
      ,[apePaciente] as 'Apellido'
      ,[fechaNacimiento] as 'Fecha de Nacimiento'
      ,[dniPaciente] as 'DNI'
      ,CASE [sexo]
	  WHEN 0 THEN 'Hombre'
	  WHEN 1 THEN 'Mujer'
	  END AS 'Sexo'
      ,[direcPaciente] AS 'Direccion'
	  ,[Id_Ubigeo] AS 'Ubigeo'
      ,[emailPaciente] AS 'Email'
      ,[numTelefono] AS 'Telefono'
	  ,CASE [tipoSangre]
	  WHEN 0 THEN 'A+'
	  WHEN 1 THEN 'B+'
	  WHEN 2 THEN 'AB+'
	  WHEN 3 THEN 'O+'
	  WHEN 4 THEN 'A-'
	  WHEN 5 THEN 'B-'
	  WHEN 6 THEN 'AB-'
	  WHEN 7 THEN 'O-'
	  END AS 'Tipo de sangre'
      ,CASE [estado]
	  WHEN 0 THEN 'Inactivo'
	  WHEN 1 THEN 'Activo'
	  END AS 'Estado'
      ,CASE [tipoCliente]
	  WHEN 1 THEN 'Gerente'
	  WHEN 2 THEN 'Administrativo'
	  WHEN 3 THEN 'Operacional'
	  END AS 'Tipo cliente'
	  ,[fechaIngreso] as 'Fecha Ingreso'
      ,[Usu_Registro] AS 'Usuario registro'
FROM [CheckSalud_DB].[dbo].[Tb_Paciente]
ORDER BY codPaciente
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarPaciente2]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarPaciente2]
AS
SELECT [codPaciente] as 'Codigo'
	  ,CONCAT([nomPaciente],' ',[apePaciente]) as 'Paciente'
FROM [CheckSalud_DB].[dbo].[Tb_Paciente]
ORDER BY codPaciente
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarResultados]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--5: Listar resultados
CREATE   PROCEDURE [dbo].[usp_ListarResultados]
AS
--Autor: Patricio Calderon
--Empresa: CheckSalud
--Sistema: Modulo de Resultados
--Fecha Creacion: 14/11/2021
--Fecha Modificacion: 14/11/2021
--SP que permite el listado general de resultado
SELECT [codResultado] as 'Codigo'
	  ,CONCAT([Nombre_Paciente],' ',[Apellido_Paciente]) as 'Paciente'
	  ,[Fecha_Nacimiento] as 'Fecha de nacimiento'
	  ,[Edad] as 'Edad'
	  ,[dniPaciente] as 'DNI'
	  ,[Lugar_de_trabajo] as 'Lugar de trabajo'
	  ,[Tipo_Examen] as 'Tipo de examen'
	  ,[Fecha_Evaluacion] as 'Fecha de evaluacion'
	  ,[Peso_Paciente_Kg] as 'Peso (KG)'
	  ,[Altura_Paciente_m] as 'Altura (Mts)'
      ,[sangre] as 'Examen de sangre'
      ,[orina] as 'Examen de orina'
      ,[ekg] as 'Electrocardiograma'
      ,[spirometria] as 'Espirometria'
      ,[psicologia] as 'Examen psicologico'
      ,[rayosX] as 'Rayos X'
      ,[audicion] as 'Examen de audicion'
      ,[vista] as 'Examen de vista'
	  ,[descEnfermedad] as 'Enfermedad'
      ,[recomendaciones] as 'Recomendaciones'
	  ,CONCAT([Nombre_Medico_Evaluador],' ',[Apellidos_Medico_Evaluador]) as 'Medico Evaluador'
  FROM [dbo].[vw_VistaInformeMedico]
ORDER BY codResultado
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarUbicacion]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[usp_ListarUbicacion]
  AS 
  SELECT [Id_Ubigeo]
      ,[Distrito]
  FROM [CheckSalud_DB].[dbo].[Tb_Ubicacion]
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarUltAnalisis]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarUltAnalisis]
AS
SELECT TOP 1 [codAnalisis]
      ,[descAnalisis]
      ,[costo]
      ,[estado]
      ,[Fec_reg]
      ,[Usu_Registro]
      ,[Fec_Ult_Mod]
      ,[Usu_Ult_Mod]
  FROM [CheckSalud_DB].[dbo].[Tb_Analisis]
  ORDER BY codAnalisis DESC
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarUltEvaluacion]    Script Date: 14/04/2025 11:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarUltEvaluacion]
AS
SELECT TOP 1 [codEvaluacion]
      ,[Fec_Eva]
      ,[estado]
      ,[codMedico]
      ,[codAuditor]
      ,[Fec_reg]
      ,[Usu_Registro]
      ,[Fec_Ult_Mod]
      ,[Usu_Ult_Mod]
FROM [CheckSalud_DB].[dbo].[Tb_Evaluacion]
ORDER BY codEvaluacion DESC
GO
USE [master]
GO
